/* common shared font */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: rgba(222, 90, 226, 0.1);
}

.banner {
    padding: 30px 30px 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-flower {
    width: 500px;
    height: 900;
}

.banner-content {
    max-width: 500px;

}

.text-primary {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    background: #e55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 40px;

}

/* featured flower section start */
.featured-container {
    display: flex;
    gap: 25px;
    align-items: center;

}

.featured-flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.featured-flower-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.first-flower {
    width: 450px;
    height: 530px;
    background: rgba(167, 33, 98, 0.15)
}

.second-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.third-flower {
    width: 464px;
    height: 538px;
    border-radius: 50% 50% 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

ul>li {
    display: inline;
    align-items: center;

}

li>a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    margin-right: 85px;

}
.link-item{
    text-align: center;
}